<div id="console-title" class="well well-top" style="border-bottom:1px solid #ddd;padding:4px 0 5px 10px;" localization>console</div>
<div id="console-inner"></div>
<input id="console-input" type="text" style="border:none;border-radius:0;border-top:1px solid #ddd;"/>