<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="deleteLabel" localization>deleteconfirm</h3>
</div>
<div class="modal-body">
	<p>
		<span localization>suretodelete</span>
		<span class="folder"></span>
		<span id="delete-name"></span>
	</p>
</div>
<div class="modal-footer">
	<div id="delete-buttons">
		<button class="btn" id="delete-ok" localization>ok</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true" localization>cancel</button>
	</div>
</div>
