<ul class="nav nav-tabs">
	<li class="active dropdown" id="ownedfile">
		<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
			<span localization>owningfiles</span> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#newfile" id = "new-file" data-toggle="modal" localization>newfile</a>
			</li>
			<li>
				<a href="#newfile" id = "new-file-folder"data-toggle="modal" localization>newfolder</a>
			</li>
			<li>
				<a href="#" data-toggle="modal" id="uploadfile" localization>uploadfile</a>
			</li>
			<li>
				<a href="#" data-toggle="modal" id="uploadzip" localization>uploadzip</a>
			</li>
			<li>
				<!--prevent build a new project in a non-root dir. -->
				<a href="#newfile" data-toggle="modal" id="newprojectopen" localization>createproject</a>
			</li>
			<li>
				<a href="#newfile" data-toggle="modal" id="creategitfolder" localization>GitFolder</a>
			</li>
		</ul>
	</li>
	<li id="ownedfileex" class="hide">
		<a href="javascript:;" localization>owningfiles</a>
	</li>
	<li id="sharedfile">
		<a href="javascript:;" localization>sharedfiles</a>
	</li>
</ul>