<div class ="control-group">
	<label class ="control-label" for="login-inputName" localization>username</label>
	<div class ="controls">
		<input type="text" id="login-inputName" <%= loginInfoCtrl.attr('username')? "value='" + loginInfoCtrl.username + "'":"class='empty'" %>/></div>
</div>
<div class="control-group">
	<label class="control-label" for="login-inputPassword" localization>password</label>
	<div class="controls">
		<input type="password" id="login-inputPassword" <%= loginInfoCtrl.attr('password')? "value='" + loginInfoCtrl.password + "'":"class='empty'" %>/></div>
</div>
<div class="control-group hide" id="login-padding">
	<label class="control-label">&nbsp;</label>
</div>
<div class="control-group">
	<p align="center" id="loading-init" style="margin:1px 0 2px 0">
		<img src="images/init.gif"/>
	</p>
	<div class="controls hide" id="login-control" style="display:none;">
		<button id="login-submit" type="submit" class="btn" localization>login</button>
		<a class="switch-rel" href="javascript:;" onclick="registerview()" localization>register</a>
	</div>
</div>
