			<div class="span4 offset4">
				<h2 style="text-align:center" class="blink" localization>register</h2>
				<div class="alert hide" id="register-message">
					<button type="button" class="close" onclick="$('#register-message').slideUp()">&times;</button>
					<span localization>Nothing here</span>
				</div>
				<hr />
				<div id="register-box" class="form-horizontal" style="min-width:720px;position:relative;">
					<div class="control-group">
						<label class="control-label" for="register-inputName" localization>username</label>
						<div id="msg-username"style="float:left;margin-left: 430px;position: absolute;top:4px;" localization></div>
						<div class="controls">
							<input type="text" id="register-inputName" onkeydown="pressenter(arguments[0],register, '', 'register-inputPassword')" onkeyup="checkusername()"/>
							<li id="register-check"style="display: inline;position: absolute;top: 6px;margin-left: 10px;width: 16px;height: 16px;background: url('images/check.png') no-repeat scroll 0px -160px transparent;"></li>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="register-inputPassword" localization>password</label>
						<div class="controls">
							<input type="password" id="register-inputPassword" />
						</div>
					</div>
					<div class="control-group hide" id="register-padding">
						<label class="control-label" for="register-inputPassword" localization>confirm</label>
						<div class="controls">
							<input type="password" id="register-confirmPassword"/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls" id="register-control">
							<button type="submit" id = "register-submit" class="btn" localization>register</button>
							<a class="switch-rel" href="javascript:;" id = "register-to-login" localization>login</a>
						</div>
					</div>
				</div>
			</div>
