		<div class="modal-header">
			<button type="button" class="close close-share">&times;</button>
			<h3 id="shareLabel" localization>sharemanage</h3>
		</div>
		<div class="modal-body">
			<p>
				<span localization>file</span>
				<span id="share-name"></span>
				<span localization>sshareduser</span>
			</p>
			<div id="share-user-box">
				<ul class="nav nav-pills nav-stacked" id="share-user-list"></ul>
			</div>
			<div class="alert hide" id="share-message">
				<button type="button" class="close" onclick="$('#share-message').slideUp()">&times;</button>
				<span localization>Nothing here</span>
			</div>
			<div class="form-inline" id="share-buttons">
				<span localization>newuser:</span>
				<input type="text" id="share-inputName"  />
				<button class="btn" id = "share-submit" type="button" localization>add</button>
				<button class="btn pull-right" id = "unshare-submit" type="button"  localization>delete</button>
			</div>
		</div>
		<div class="modal-footer">
			<div id="share-buttons">
				<button class="btn close-share" localization>back</button>
			</div>
		</div>
