<div class="btn-group pull-right">
	<button class="btn" type="button" id="setFullScreen" title="maximum-title"> <i class="icon-fullscreen"></i>
	</button>
	<button class="btn" type="button" id="togglechat" title="hide-title"> <i class="icon-forward"></i>
	</button>
</div>
<div class="btn-group pull-right" style="margin:0 15px 5px 0;">
	<button class="btn" type="button" id="editor-run" title="run-title" >
		<i class="icon-play"></i>
	</button>
	<button class="btn" type="button" id="editor-debug" title="debug-title">
		<i class="icon-eye-open"></i>
	</button>
	<button class="btn" type="button" id="editor-console" title="console">
		<i class="icon-share"></i>
	</button>
</div>
<div class="btn-group pull-left" style="margin-left:0">
	<button class="btn" type="button" id="editor-back">
		<i class="icon-home"></i>
	</button>
</div>
<div class="btn-group" id="current-doc-outer">
	<p id="current-doc-p">
		<span id="current-doc">current doc</span>
		&nbsp;&nbsp;
		<span class="red" id="current-doc-state" localization>saving...</span>
	</p>
</div>
<div style="clear:both;"></div>