<div class="well well-top">
	<div class="btn-group">
		<button class="btn disabled debugandwait" type="button" title="step-title" id="debugstep"> <i class="icon-arrow-down"></i>
		</button>
		<button class="btn disabled debugandwait" type="button" title="next-title" id="debugnext"> <i class="icon-arrow-right"></i>
		</button>
		<button class="btn disabled debugandwait" type="button" title="finish-title" id="debugfinish">
			<i class="icon-share-alt"></i>
		</button>
		<button class="btn disabled debugandwait" type="button" title="continue-title" onclick="debugcontinue()">
			<i class="icon-play"></i>
		</button>
	</div>
</div>
<div id="varlistreal">
	<table class="table table-hover" id="varlist-table"></table>
</div>
