/* Required Stylesheets */
.wheel-button {
  position: relative;
}

.wheel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px; /* this will determine the diameter of the circle  */
  height: 200px; /* this will determine the diameter of the circle  */
  visibility: hidden;
  position: relative;
  display: none;
}

.wheel li {
  overflow: hidden;
  float:left;
}

.wheel li a {
  display: block;
}

.wheel-button, .wheel-button:visited {
      line-height: 35px;
      font-weight: bold;
      font-size: 12px;
      background: rgba(0, 0, 0, 0.5); 
      padding: 10px 11px;
      text-align: center;
      border-radius: 50px;
      vertical-align: middle;
      width: 44px;
      height: 38px;
      color: white;
      display: block;
      margin: 70px auto 20px;
      border: 3px solid #92311e;
    }

    .wheel-button:hover{ 
      color: white;
    }
    
    .wheel-button.ne {
      border-color: white;
      background-color: rgb(0,0,0,0.5);
      color: rgb(255,255,255);
      position: fixed;
      bottom: -10px;
      left: 10px;
    }
    
    .wheel-button.nw {
      border-color: white;
      background-color: #E67E22;
      color: #FFFC44;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .wheel-button span, .wheel span{
      position: relative;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      display: block;
    }

    .wheel-button.active span{
      transform: rotate(135deg);
      -ms-transform: rotate(135deg); /* IE 9 */
      -webkit-transform: rotate(135deg); /* Safari and Chrome */
    }

    .wheel li a, .wheel li a:visited{
      background: rgba(20,20,20,0.5);
      border-radius: 100px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      line-height: 35px;
      font-size: 11px;
      width: 35px;
      height: 35px;
      color: white;
      -moz-transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

    .wheel li a:hover{
      background: rgba(0,0,0,0.8);
    }